<app-header-third></app-header-third>
<!-- END! header-third -->

<main>
  <section class="service-area" #target>
    <div class="container">
      <div class="service-area-top">
        <h3>Medical Grade Monitors</h3>
        <p>
          Synest brings the top quality medical grade monitors which offer
          greyscale and color images ranging from 1 to 12 megapixels. Catering
          to diverse needs in medical facilities, these monitors feature the
          standard for accurate diagnosis.
        </p>
      </div>

      <div class="service-main">
        <a href="https://www.eizo.com/products/radiforce/mx194/" target="_blank" rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/medical-grade1.png" alt="" />
            </div>
            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h4>RadiForce</h4>
                  <h3>MX194</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p>19.0" Color LCD Monitor</p>

              <p style="color: #4f4f4f; margin-top: 15px !important">
                19-inch, 1 megapixel monitor with DICOM Part 14 calibration for
                viewing DSA, CT, and MRI.
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.eizo.com/products/radiforce/mx243w/" target="_blank" rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/medical-grade2.png" alt="" />
            </div>
            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h4>RadiForce</h4>
                  <h3>MX243W</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p>24.1" Color LCD Monitor</p>
              <p style="color: #4f4f4f; margin-top: 15px !important">
                24.1-inch widescreen medical monitor with DICOM Part 14
                calibration for viewing medical images
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.eizo.com/products/radiforce/rx560/" target="_blank" rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/medical-grade3.png" alt="" />
            </div>
            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h4>RadiForce</h4>
                  <h3>RX560</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p>21.3" Color LCD Monitor</p>
              <p style="color: #4f4f4f; margin-top: 15px !important">
                This 5 megapixel, high-brightness color monitor has the
                high-definition display necessary for breast imaging......
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>

        <a href="https://www.eizo.com/products/radiforce/ux2_sensor/" target="_blank" rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/medical-grade4.png" alt="" />
            </div>

            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h4>RadiForce</h4>
                  <h3>UX2 Sensor</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p>Monitor Calibrators</p>

              <p style="color: #4f4f4f; margin-top: 15px !important">
                The UX2 Sensor is an external calibration sensor for medical
                monitor use. It measures many monitor....
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="service-main-second">
        <div class="service-main-second-top">
          <h1>
            Feel free to visit our partners for more details about the products
            you want.
          </h1>

          <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />

          <p>
            Eizo is a Visual Technology Company with global outreach that has
            been dedicated to imaging since its inception.
          </p>
        </div>

        <div class="service-btn">
          <ul>
            <li>
              <a target="_blank" href="https://www.eizoglobal.com/products/radiforce/"> Visit EIZO website </a>
            </li>
            <li>
              <a target="_blank"
                href="https://www.eizoglobal.com/support/db/files/catalogs/radiforce/bro_en_RadiForce_general.pdf">
                download brochure </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <app-contact-us></app-contact-us>
</main>