@import'../../../theme/variables';


.service-area {
    padding: calc(92px + 78px) 30px 90px;
    box-sizing: border-box;

    .service-area-top {
        text-align: center;
        margin-bottom: 50px;

        img {
            max-width: 190px;
            width: 100%;
            margin-inline: auto !important;
            margin-bottom: 45px !important;
        }

        h3 {
            color: #000;
            font-family: Helvetica, sans-serif;
            font-size: 36px;
            font-style: normal;
            line-height: 42px;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: -0.39px;
            margin-bottom: 32px !important;
        }

        p {
            color: #555;
            font-family: $font-en-roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            max-width: 960px;
            margin-inline: auto !important;
            letter-spacing: -0.22px;
        }

        button {
            background-color: #0071E3;
            color: $color-white;
            font-family: $font-en-manrope;
            font-size: 16px;
            padding: 8px 25px;
            box-sizing: border-box;
            outline: none;
            border: none;
            border-radius: 30px;
            transition: all 0.3s linear;

            &:hover {
                background-color: $color-white;
                color: #0071E3;
            }

        }
    }

    .service-main {
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        max-width: 1528px;
        margin-inline: auto;

        .medical-grade-card {
            background-color: $color-white;
            padding: 80px 50px 30px 50px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s linear;
            overflow: hidden;

            &:hover {
                box-shadow: 0px 15px 60px 0 rgb(0 0 0 / 7%);
            }

            .medical-grade-card-img {
                img {
                    max-width: 400px;
                    width: 100%;
                    object-fit: contain;
                    height: 380px;
                    margin-inline: auto;
                    transition: all 0.3s ease;
                }
            }

            .medical-grade-card-body {
                .medical-grade-card-body-top {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .medical-grade-card-body-top-left {
                        flex: 1;
                    }

                    .medical-grade-card-body-top-right {
                        img {
                            max-width: 131px;
                            width: 100%;
                        }
                    }
                }

                h4 {
                    color: #000;
                    font-family: $font-en-primary;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 150%;
                    letter-spacing: -0.15px;
                }

                p {
                    color: #5A5A5A;
                    font-family: $font-en-primary;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 150%;
                    letter-spacing: -0.22px;
                    margin-bottom: 9px !important;

                    &:last-child {
                        margin: 0px !important;
                        margin-top: 10px !important;
                    }
                }

                h3 {
                    color: #000;
                    font-weight: 500;
                    font-size: 24px;
                    font-family: $font-en-helvetica;
                    font-style: normal;
                    line-height: 150%;
                    letter-spacing: -0.26px;
                }

                .medical-grade-card-body-btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                button {
                    margin-top: 20px !important;
                    border: 1px solid #212121;
                    padding: 7px 25px;
                    color: #252525;
                    font-family: $font-en-manrope;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    font-size: 16px;
                    background-color: $color-white;
                    outline: none;
                    border-radius: 30px;
                    transition: all 0.3s linear;
                    cursor: pointer;

                    &:hover {
                        background-color: #212121;
                        color: $color-white;
                        border-color: #212121;
                    }
                }
            }


        }
    }

    .service-btn {
        margin-top: 48px;

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            gap: 29px;

            li {
                a {
                    font-family: $font-en-helvetica;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: -0.011em;
                    background-color: #2C2C2C;
                    border-radius: 100px;
                    padding: 8px 30px;
                    color: #fff;
                    border: 1px solid #2C2C2C;
                    outline: 0;
                    transition: all 0.12s linear;
                    text-transform: capitalize;

                    &:hover {
                        background-color: transparent;
                        color: #2C2C2C;
                    }
                }

                &:last-child {
                    a {
                        background-color: transparent;
                        color: #2C2C2C;

                        &:hover {
                            background-color: #2C2C2C;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:900px) {
    .service-area {
        .service-main {
            .medical-grade-card {
                padding: 60px 30px 30px 30px;

                .medical-grade-card-img {
                    img {
                        height: 260px;
                    }
                }

                .medical-grade-card-body-top {
                    .medical-grade-card-body-top-right {
                        max-width: 90px;
                    }
                }
            }
        }
    }
}

@media (max-width:860px) {
    .service-area {
        .service-btn {
            margin-top: 34px;
        }
    }
}

@media(max-width:800px) {
    .service-area {
        padding: 128px 20px 70px;

        .service-area-top {
            margin-bottom: 44px;

            h3 {
                font-size: 20px;
                line-height: 119%;
                margin-bottom: 20px !important;
            }

            p {
                font-size: 16px;
                line-height: 150%;
            }

            button {
                font-size: 16px;
            }
        }

        .service-main {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }
    }
}

@media(max-width:600px) {
    .service-area {
        padding: 80px 15px 35px;

        .service-area-top {
            margin-bottom: 26px;
        }

        .service-main {
            margin-bottom: 55px;

            .medical-grade-card {
                padding-bottom: 30px;
                padding-inline: 20px;

                .medical-grade-card-body {

                    .medical-grade-card-body-top {
                        .medical-grade-card-body-top-right {
                            max-width: 63px;
                        }
                    }

                    .medical-grade-card-body-btn {
                        justify-content: center;
                    }
                }

            }
        }

        .service-btn {
            margin-top: 35px;

            ul {
                gap: 10px;

                li {
                    a {
                        font-size: 13px;
                        line-height: 19.5px;
                        padding: 7px 16px;
                    }
                }
            }
        }
    }
}

/* --- service-main-second-top --- */
.service-main-second-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-family: $font-en-manrope;
        font-size: 36px;
        font-weight: 700;
        line-height: 39.6px;
        letter-spacing: -0.011em;
        text-align: center;
        color: #000;
        margin-bottom: 48px !important;
        max-width: 822px;
    }

    img {
        max-width: 131px;
        width: 100%;
    }

    p {
        font-family: $font-en-primary;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.011em;
        text-align: center;
        margin-top: 35px !important;
        color: #4F4F4F;
        max-width: 625px;
    }
}

@media (max-width:860px) {
    .service-main-second-top {
        h1 {
            font-size: 28px;
            line-height: 34.6px;
            margin-bottom: 32px !important;
            max-width: 600px;
        }

        img {
            max-width: 116px;
            width: 100%;
        }

        p {
            font-size: 17px;
            line-height: 24px;
            margin-top: 26px !important;
            max-width: 514px;
        }
    }
}

@media (max-width:600px) {
    .service-main-second-top {
        h1 {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 35px !important;
            max-width: 293px;
        }

        img {
            max-width: 99px;
            width: 100%;
        }

        p {
            font-size: 15px;
            line-height: 18px;
            margin-top: 26px !important;
            max-width: 277px;
        }
    }
}