<app-header-third-security></app-header-third-security>
<!---- END HEADER AREA --->

<main>

  <section class="service-area" #target>
    <div class="container">
      <div class="service-area-top">
        <h3>meet our securities & Surveillance Partners </h3>
        <p>
          Our selection of professional-grade security solutions and services ensures the safety and protection of your
          commercial property. From advanced surveillance systems to expert installation and monitoring, we offer
          comprehensive security solutions to safeguard your business assets.
        </p>
      </div>

      <div class="service-main">

        <div class="service-card">
          <div class="service-card-top">
            <img src="./assets/images/temp/png/security-logo1.png" alt="" />
            <h3>Innovating for a smarter, safer world</h3>
          </div>

          <div class="service-card-img">
            <img src="./assets/images/temp/png/security-img1.png" alt="" />
          </div>
          <div class="service-card-btn">
            <a href="https://www.axis.com" target="_blank" rel="noopener noreferrer"> <button>Visit AXIS</button></a>
          </div>
        </div>


        <div class="service-card">
          <div class="service-card-top">
            <img src="./assets/images/temp/png/security-logo2.png" alt="" />
            <h3>High-Performance Video Solutions</h3>
          </div>
          <div class="service-card-img">
            <img src="./assets/images/temp/png/security-img2.png" alt="" />
          </div>
          <div class="service-card-btn">
            <a href="https://www.milestonesys.com/" target="_blank" rel="noopener noreferrer"> <button>Visit Milestone</button>
            </a>
          </div>

        </div>


        <div class="service-card">
          <div class="service-card-top">
            <img src="./assets/images/temp/png/security-logo3.png" alt="" />
            <h3>Secure Your World</h3>
          </div>
          <div class="service-card-img">
            <img src="./assets/images/temp/png/security-img3.png" alt="" />
          </div>
          <div class="service-card-btn">
            <a href="https://www.lenels2.com" target="_blank" rel="noopener noreferrer"><button>Visit LENEL.S2</button></a>
          </div>
        </div>


        <div class="service-card">
          <div class="service-card-top">
            <img src="./assets/images/temp/png/security-logo4.png" alt="" />
            <h3>Alerts Over the Network</h3>
          </div>
          <div class="service-card-img">
            <img src="./assets/images/temp/png/security-img4.png" alt="" />
          </div>
          <div class="service-card-btn">
            <a href="https://www.eizoglobal.com" target="_blank" rel="noopener noreferrer"><button>Visit EIZO</button></a>
          </div>
        </div>


        <div class="service-card">
          <div class="service-card-top">
            <img src="./assets/images/temp/png/security-logo5.png" alt="" />
            <h3>We are Paxton</h3>
          </div>
          <div class="service-card-img">
            <img src="./assets/images/temp/png/security-img5.png" alt="" />
          </div>
          <div class="service-card-btn">
            <a href="https://www.paxton-access.com/" target="_blank" rel="noopener noreferrer">
              <button>Visit Paxtor</button></a>
          </div>
        </div>


        <div class="service-card">
          <div class="service-card-top">
            <img src="./assets/images/temp/png/security-logo6.png" alt="" />
            <h3>
              Powering 
              Trusted Identities
            </h3>
          </div>
          <div class="service-card-img">
            <img src="./assets/images/temp/png/security-img6.png" alt="" />
          </div>
          <div class="service-card-btn">
            <a href="https://www.hidglobal.com/" target="_blank" rel="noopener noreferrer"><button>Visit HID</button></a>
          </div>
        </div>

      </div>

      <!-- <div class="service-btn">
        <button>View All Product</button>
      </div> -->
    </div>
  </section>

  <app-contact-us></app-contact-us>
</main>