<app-header-third></app-header-third>
<!-- END! header-third -->

<main>
  <section class="service-area" #target>
    <div class="container">
      <div class="service-area-top">
        <h3>CuratOR</h3>
        <p>
          Explore CuratOR - comprehensive solutions for the integrated OR, developed by our monitor specialists - EIZO.
        </p>
      </div>

      <div class="service-main">
        <a href="https://eizo-or.com/en/global/products/or-cameras-recorders/sc430-ptr/" target="_blank"
          rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/curator1.png" alt="axis" />
            </div>
            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h3>CurtOR SC430-PTR</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p style="color: #4f4f4f; margin-top: 15px !important">
                Ultra-High Definition camera system with fully integrated
                triaxial mount for capturing surgical proceedings.
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>

        <a href="https://eizo-or.com/en/global/products/or-cameras-recorders/mir-1/" target="_blank"
          rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/curator2.png" alt="milestone" />
            </div>
            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h3>CurtOR MIR-1</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p style="color: #4f4f4f; margin-top: 15px !important">
                The MIR-1 records medical imaging from endoscopy, operating
                microscopes, or surgical field cameras in high-quality 4K/60p.
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>

        <a href="https://eizo-or.com/en/global/products/or-wall-panels/curator-surgical-panel-sp1-24/" target="_blank"
          rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/curator3.png" alt="lenel" />
            </div>
            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h3>CurtOR Surgical Panel SP1-24</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p style="color: #4f4f4f; margin-top: 15px !important">
                The Surgical Panel SP1-24 with an integrated monitor as well as
                IT and video management components is a digital image viewing
                system...
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>

        <a href="https://eizo-or.com/en/global/products/or-wall-panels/surgical-panel-sp1-434k/" target="_blank"
          rel="noopener noreferrer">
          <div class="medical-grade-card">
            <div class="medical-grade-card-img">
              <img src="./assets/images/temp/png/curator4.png" alt="eizo" />
            </div>

            <div class="medical-grade-card-body">
              <div class="medical-grade-card-body-top">
                <div class="medical-grade-card-body-top-left">
                  <h3>CurtOR Surgical Panel SP1-434K</h3>
                </div>

                <div class="medical-grade-card-body-top-right">
                  <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />
                </div>
              </div>

              <p style="color: #4f4f4f; margin-top: 15px !important">
                The Surgical Panel SP1-434K with integrated monitor as well as
                build-in IT and video management components is a digital image
                viewing system...
              </p>

              <div class="medical-grade-card-body-btn">
                <button type="button">View Details</button>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="service-main-second">
        <div class="service-main-second-top">
          <h1>
            Feel free to visit our partners for more details about the products
            you want.
          </h1>

          <img src="./assets/images/brand/logo/eizo-black-logo.png" alt="eizo-black-logo" />

          <p>
            Eizo is a Visual Technology Company with global outreach that has
            been dedicated to imaging since its inception.
          </p>
        </div>

        <div class="service-btn">
          <ul>
            <li>
              <a target="_blank" href="https://www.eizoglobal.com/products/radiforce/">
                Visit EIZO website
              </a>
            </li>
            <li>
              <a target="_blank"
                href="https://www.eizoglobal.com/support/db/files/catalogs/radiforce/bro_en_RadiForce_general.pdf">
                download brochure
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <app-contact-us></app-contact-us>
</main>