<header class="header-second" [class.active]="isWindowScroll">
    <div class="container">
        <div class="header-second-child">
            <div class="header-second-child-left">
                <div class="header-second-logo" routerLink="/" fragment="homeSyNest" style="cursor: pointer;">
                    <img class="white" src="./assets/images/brand/logo/synest-white-logo.png" alt="" />
                    <img class="black" src="./assets/images/brand/logo/synest-black-logo.png" alt="" />
                </div>

                <div class="header-second-text" routerLink="/security-service" style="cursor: pointer;">
                    <h1>Security Solutions</h1>
                </div>
            </div>

            <div class="header-second-child-right">
                <button type="button" (click)="onOpenSlider()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <!-- END! header-second-child -->
    </div>
</header>
<!-- END! header-second -->

<app-header-sidebar #headerSidebar></app-header-sidebar>
<!-- END! header-sidebar -->